.Forms{
    line-height: 1;
    padding: 0 1em;
    background-color: #fff;
    border: 2px solid silver;
    width: 300px;
    height: 35px;
    border-radius: 30px;
    }
  
.Button {
  background-color: #39B8F8;
  border: none;
  color: white;
  padding: 10px 140px;
  margin: 5px auto;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
}

.Button:hover {
    background-color: #0794DC;
}