<!DOCTYPE html>
<html>
    <head>
        <title>Hangman-web</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="./static/style.css"/>
    </head>
    <body>
        <div class="header">
            <a class="title" href="http://localhost:8080" >Hangman Web</a>
            <div class="header-right">
                <a class="active" href="http://localhost:8080/easy">Easy</a>
                <a href="http://localhost:8080/medium">Medium</a>
                <a href="http://localhost:8080/hard">Hard</a>
            </div>
        </div>

        {{template "hangman" .}}

        <div class="inputBlock">
            {{template "information" .}}
            {{template "wordToFind" .}}
            <div class="input">
                <form id="inputForm" method="post" action="/hangman">
                    <input name="input" class="Forms" type="text" value=""/>
                </form>
                
                <button class="Button" type="submit" form="inputForm" value="Submit">Submit</button>
            </div>
        </div>

        <div class="tried">
            <h1 class="title">Letters Tried</h1>
            <div class="grid">
                <div class="bar"></div>
            </div>
            {{template "lettersTried" .}}
        </div>
    </body>
</html>